* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px 0px 0px 0px;
}

.detail-header {
  background-color: #808080;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.detail-table-holder {
  padding-top: 25px;
  padding-left: 40%;
}

.detail-table-holder th {
  background-color: #808080;
}

.detail-table-holder td, th {
  min-width: 100px;
  border: 1px solid black;
}

.add-data-holder{
  margin-left: 40%;
  margin-top: 100px;
  border: 1px solid black;
  width: fit-content;
  padding: 10px
}

.add-data-holder .row{
  padding-bottom: 10px;
}

.add-data-holder .row > label{
  min-width: 175px;
  display: inline-block;
}

.buttons-panel {
  text-align: center;
}

.buttons-panel > input {
  width: 50%;
  height: 25px;
}

.links-panel {
  text-align: center;
  margin-top: 25px;
}

.links-panel > a {
  display: block;
}